main.usr-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main.usr-register::before {
    content: "";
    background: url("../../../public/images/bg-img.png") no-repeat center center/cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;

}

main.usr-register .register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}


main.usr-register .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(80px);

}

main.usr-register .register-form h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #b15110;
}

main.usr-register .register-form .form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0.5rem 0;
}

main.usr-register .register-form .form-group label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #b15110;
}

main.usr-register .register-form .form-group input {
    padding: 0.5rem 0.5rem;
    border: thin dashed #a79f9a;
    border-radius: 5px;
    outline: none;
}

main.usr-register .register-form .form-group input[type="password"] {
    padding: 0.5rem 0.5rem;
    border: thin dashed #a79f9a;
    border-radius: 5px;
    outline: none;
    padding-right: 30px;
    -webkit-text-security: disc;
}

main.usr-register .register-form .form-group input[type="password"]::-webkit-password-suffix {
    display: none;
}

main.usr-register .register-form .form-group input[type="password"]::-ms-reveal {
    display: none;
}


main.usr-register .register-form .form-group input[type="password"]::-ms-clear {
    display: none;
}

main.usr-register .register-form .form-group input:hover {
    box-shadow: 0 0 5px #b15110;
}

main.usr-register .register-form .form-group input:focus {
    box-shadow: 0 0 5px #b15110;
}

main.usr-register .register-form .btn {
    /* padding: 0.5rem 0.5rem; */
    border: none;
    border-radius: 5px;
    background-color: #b15110;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    transition: all 0.5s ease-in-out;
}


main.usr-register .register-form .btn:disabled:focus {
    outline: none;
    box-shadow: 0 0 5px #b15110;
}

main.usr-register .register-form .registered {
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

main.usr-register .register-form .registered p {
    color: #b15110;
}

main.usr-register .register-form .registered p a {
    color: #b15110;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

main.usr-register .register-form .registered p a:hover {
    color: #fff;
}

main.usr-register .register-form .btn:hover {
    box-shadow: 0 0 10px white;
    background-color: #a79f9a;
    color: #b15110;
}

main.usr-register .register-form .btn:focus {
    outline: none;
    box-shadow: 0 0 5px #b15110;
}


main.usr-register .register-form .btn:active {
    background-color: #a79f9a;
}

main.usr-register .register-form .form-group .error {
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
}

main.usr-register div.adm-btn {
    position: absolute;
    right: 1rem;
    bottom: -20rem;
}

main.usr-register div.adm-btn a.btn {
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #b15110;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

main.usr-register div.adm-btn a.btn:hover {
    @apply shadow-lg shadow-[#b15110];
    background-color: #a79f9a;
}

main.usr-register .register-form .form-group .eye-icon {
    position: absolute;
    right: 2.5rem;
    margin-top: .75rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    main.usr-register {
        height: 100%;
    }

    main.usr-register .register-content {
        width: 20rem;
        height: 36rem;

    }

    main.usr-register .register-form {
        width: 20rem;
        height: 30rem;
    }

    main.usr-register .register-form h1 {
        font-size: 1.5rem;
        padding-top: 3rem;
    }

    main.usr-register .register-form .form-group label {
        font-size: 0.7rem;
    }

    main.usr-register .register-form .form-group input {
        padding: 0.5rem 0.5rem;
    }

    main.usr-register .register-form .btn {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        width: 80%;
    }

    main.usr-register .register-form .registered {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
    }

    main.usr-register .register-form .registered p {
        font-size: 1rem;
    }

    main.usr-register .register-form .registered p a {
        font-size: 1rem;
        padding-left: 0.25rem;
    }

    main.usr-register div.adm-btn {
        right: 0.5rem;
        bottom: -18.75rem;
    }

    main.usr-register div.adm-btn a.btn {
        padding: 0.5rem 0.5rem;
        font-size: 0.7rem;
    }
}