footer.footer {
    color: #fff;
    position: relative;
}

footer.footer::before {
    content: "";
    background: url("../../public/images/footer-bg.jpg") no-repeat center center/cover;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 348px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}